<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Amministrazione - Tutti gli Utenti</title>
</head>
<body>
    <h1>Gestione di tutti gli utenti</h1>
    <ul>
        <li th:each="utente : ${tutti_utenti}">
            <a th:href="@{/utente/{utenteId}(utenteId=${utente.id})}" th:text="${utente.name}"></a>
			<p th:text="${utente.provider}"></p>
            <form th:action="@{/admin/remove/user/{utenteid}(utenteid=${utente.id})}" method="post">
                <input type="hidden" name="_method" value="delete" />
                <button type="submit">ELIMINA</button>
            </form>
        </li>
    </ul>
 
</body>
</html>
