<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Aggiungi Recensione</title>
</head>
<body>
    <h1>Aggiungi Nuova Recensione</h1>
    <form th:action="@{/admin/aggiungiRecensione}" th:object="${recensione}" method="post" enctype="multipart/form-data">
        <div>
            <label>Nome:</label>
            <input type="text" th:field="*{nome_recensione}" />
        </div>
        <div>
            <label>Descrizione:</label>
            <textarea th:field="*{descrizione_recensione}"></textarea>
        </div>
        <div>
            <label>Archiviato:</label>
            <input type="checkbox" th:field="*{archiviato_recensione}" />
        </div>
		<label for="image">Choose image to upload</label>
		 <input type="file" name="image" accept="image/*" required>
        <button type="submit">Aggiungi</button>
    </form>

</body>
</html>
