<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tutti i Fiori</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
	<div th:replace="~{fragments/headernav :: headernav}"></div>
    <div class= "contenitore-hero">
    <h1>Elenco di tutti i fiori</h1>
	

    	<div class="carousel-container" id="carouselContainer4">
	    	<div class="box-categorie-slider" id="carouselWrapper4"><!-- wrapper -->
				<div class="categoria-card-slider" th:each="categoria : ${tutte_categorie_fiori}" th:href="'#' + ${categoria}" th:style="'background-image: url(\'/images/foto_fiori/foto_categorie/' + ${categoria} + '.jpg\');'"><!-- item -->
	  				  <!-- Contenuto della div per la categoria -->
	  				 <a th:href="'#' + ${categoria}" ></a>
	   				 <h2 th:text="${categoria}"></h2>
				</div>

		    </div>
		    	<button class="carousel-btn previous" onclick="prevSlide('carouselWrapper4')">&#8592;</button>
        		<button class="carousel-btn next" onclick="nextSlide('carouselWrapper4')">&#8594;</button>
		 </div>   

	</div>
	<div class="contenitore-di-categorie"  ><!-- Definisco larghezza -->
	    <div style="width: 80%;"><!-- Definisco box interno con 80% larghezza -->
	        <div th:each="categoria : ${tutte_categorie_fiori}"><!-- Uso le categorie -->
	            <h3 th:id="${categoria}" th:text="${categoria}"></h3>
	            <div class="categoria-box" >
		            <div class="fiore-card"  th:each="fiore : ${tutti_fiori}" th:if="${fiore.categoria_fiore == categoria}"><!-- Prendo elementi fiore e confronto per fare una scrematura -->
		                <!-- Contenuto per ogni fiore -->
						<a th:href="@{/fiore/{fioreId}(fioreId=${fiore.id})}" >
							<div>
			  				 	<img th:if="${fiore.foto_fiore != null and !fiore.foto_fiore.isEmpty()}"
	     							th:src="@{'/images/foto_fiori/' + ${fiore.foto_fiore[0]}}"
	     							alt="Immagine di fiore">
			  				 	<h2 th:text="${fiore.nome_fiore}"></h2>

							</div>
							</a>
		            </div>
	            </div>
	        </div>            
	    </div>
	</div>

	
	<div th:replace="~{fragments/backToTop :: backToTop}"></div>
    <div th:replace="~{fragments/footernav :: footernav}"></div>
    	    <script >
	    let autoSlideInterval;

	    function showSlide(wrapperId, index) {
	        const carouselWrapper = document.getElementById(wrapperId);
	        const totalSlides = carouselWrapper.children.length;

	        carouselWrapper.style.transition = 'none';
	        carouselWrapper.appendChild(carouselWrapper.children[0]);
	        carouselWrapper.style.transform = 'translateX(0)';
	        currentSlide = totalSlides - 1;
	    }

	    function nextSlide(wrapperId) {
	        const carouselWrapper = document.getElementById(wrapperId);
	        const totalSlides = carouselWrapper.children.length;

	        carouselWrapper.style.transition = 'none';
	        carouselWrapper.appendChild(carouselWrapper.children[0]);
	        carouselWrapper.style.transform = 'translateX(0)';
	        currentSlide = totalSlides - 1;
	    }

	    function prevSlide(wrapperId) {
	        const carouselWrapper = document.getElementById(wrapperId);
	        const totalSlides = carouselWrapper.children.length;

	        carouselWrapper.insertBefore(carouselWrapper.children[totalSlides - 1], carouselWrapper.children[0]);

	        currentSlide = (currentSlide - 1 + totalSlides) % totalSlides;

	        carouselWrapper.style.transition = 'none';
	        carouselWrapper.style.transform = `translateX(0)`;
	    }

	    function startAutoSlide(wrapperId) {
	        autoSlideInterval = setInterval(() => nextSlide(wrapperId), 2000);
	    }

	    function stopAutoSlide() {
	        clearInterval(autoSlideInterval);
	    }

	    document.addEventListener('DOMContentLoaded', () => {
	        showSlide('carouselWrapper1', 0);
	        showSlide('carouselWrapper2', 0);
	        startAutoSlide('carouselWrapper1');
	        startAutoSlide('carouselWrapper2');

	        document.querySelector('#carouselContainer1').addEventListener('mouseover', stopAutoSlide);
	        document.querySelector('#carouselContainer1').addEventListener('mouseout', () => startAutoSlide('carouselWrapper1'));

	        document.querySelector('#carouselContainer2').addEventListener('mouseover', stopAutoSlide);
	        document.querySelector('#carouselContainer2').addEventListener('mouseout', () => startAutoSlide('carouselWrapper2'));
	    });

	    
	    </script>
</body>
</html>
