<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Homepage</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/js/script.js" />
    
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>

    </style>
</head>

<body>
    <div th:replace="~{fragments/headernav :: headernav}"></div>
    <div class="hero-section">
        <div class="hero-content">
            <h1>Fiori di Stagione <br><span>all day </span> <br>everyday</h1>
            <p>Via Santo Spirito, 86170 Isernia IS</p>
            <a href="tel:+393217654321"><button>chiama ora</button></a>
            <a href="https://wa.me/393711641093">oppure  Scrivici su Whatsapp</a>
        </div>
        <div class="hero-img">
            <img src="images/vaso_fiori.png" alt="flower">
        </div>
    </div>



    <h2>Tutti i Servizi</h2>
    	<div class="carousel-container" id="carouselContainer1">
    	
	    	<div class="box-categorie-slider" id="carouselWrapper1"><!-- wrapper -->
				<div class="categoria-card-slider" th:each="servizio : ${tutti_servizi}"  th:style="'background-image: url(\'/images/foto_servizi/' + ${servizio.foto_servizio[0]} + '\');'"><!-- item -->
	  				  <!-- Contenuto della div per la categoria -->
	  				 <a th:href=@{/servizio/{id}(id=${servizio.id})} ></a>
	   				 <h2 th:text="${servizio.nome_servizio}"></h2>
				</div>

		    </div>
		    	<button class="carousel-btn previous" onclick="prevSlide('carouselWrapper1')">&#8592;</button>
        		<button class="carousel-btn next" onclick="nextSlide('carouselWrapper1')">&#8594;</button>
		 </div>

    <div>
        <h2>Dove Siamo</h2>
        <div class="embed-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2983.980103052749!2d14.234747275544786!3d41.59131318332206!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x133a814c35ce0973%3A0xdcf88853826dfa19!2sF%26F%20Fiori%20%2F%20I%20Fiori%20di%20Tania!5e0!3m2!1sit!2sit!4v1721080942724!5m2!1sit!2sit" frameborder="0" allowfullscreen>
            </iframe>
        </div>
    </div>
		<h2>Tutti i Fiori</h2>
    	<div class="carousel-container" id="carouselContainer2">
    	
	    	<div class="box-categorie-slider" id="carouselWrapper2"><!-- wrapper -->
				<div class="categoria-card-slider" th:each="fiore : ${tutti_fiori}"  th:style="'background-image: url(\'/images/foto_fiori/' + ${fiore.foto_fiore[0]} + '\');'"><!-- item -->
	  				  <!-- Contenuto della div per la categoria -->
	  				 <a th:href=@{/fiore/{id}(id=${fiore.id})} ></a>
	   				 <h2 th:text="${fiore.nome_fiore}"></h2>
				</div>

		    </div>
		    	<button class="carousel-btn previous" onclick="prevSlide('carouselWrapper2')">&#8592;</button>
        		<button class="carousel-btn next" onclick="nextSlide('carouselWrapper2')">&#8594;</button>
		 </div>  

     

    <div class="perche_comprare">
        <h2>Perche Comprare Da Noi</h2>
        <div class="contenitore_ragioni">
            <div>
                <h3>Lorem Ipsum</h3>
                <img alt="" src="">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis risus massa. Proin dictum pellentesque lectus, ac ultricies tellus malesuada in. Sed suscipit sem a tortor lobortis commodo. Proin quis vulputate nisl, molestie tempus quam. Vestibulum vel faucibus leo. Fusce.</p>
            </div>
            <div>
                <h3>Lorem Ipsum</h3>
                <img alt="" src="">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis risus massa. Proin dictum pellentesque lectus, ac ultricies tellus malesuada in. Sed suscipit sem a tortor lobortis commodo. Proin quis vulputate nisl, molestie tempus quam. Vestibulum vel faucibus leo. Fusce.</p>
            </div>
            <div>
                <h3>Lorem Ipsum</h3>
                <img alt="" src="">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis risus massa. Proin dictum pellentesque lectus, ac ultricies tellus malesuada in. Sed suscipit sem a tortor lobortis commodo. Proin quis vulputate nisl, molestie tempus quam. Vestibulum vel faucibus leo. Fusce.</p>
            </div>
            <div>
                <h3>Lorem Ipsum</h3>
                <img alt="" src="">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis risus massa. Proin dictum pellentesque lectus, ac ultricies tellus malesuada in. Sed suscipit sem a tortor lobortis commodo. Proin quis vulputate nisl, molestie tempus quam. Vestibulum vel faucibus leo. Fusce.</p>
            </div>
        </div>
    </div>
		<h2>Recensioni</h2>
    	<div class="carousel-container" id="carouselContainer3">
    	
	    	<div class="box-categorie-slider" id="carouselWrapper3"><!-- wrapper -->
				<div class="categoria-card-slider" th:each="recensione : ${tutte_recensioni_sito}" style="box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);"><!-- item -->
                                    <p th:text="${recensione.descrizione_recensione}">Nome recensione</p><br>
                                    <div >
                                        <div class="star-rating">
                                            <label th:each="i : ${#numbers.sequence(1, 5)}" th:classappend="${i <= recensione.rating} ? 'selected' : ''">&#9733;</label>
                                        </div>
                                    </div>
				</div>

		    </div>
		    	<button class="carousel-btn previous" onclick="prevSlide('carouselWrapper3')">&#8592;</button>
        		<button class="carousel-btn next" onclick="nextSlide('carouselWrapper3')">&#8594;</button>
        		 
		 </div>  
            <div style="display: flex;justify-content: center; align-items: center; margin-bottom:40px; ">
                <a th:href="@{/recensione/pagina_aggiungiRecensione_alSito}"><button class="bottone_aggiungi_recensione">Dicci la tua!</button></a>
            </div>		 
     
	    <script >
	    let autoSlideInterval;

	    function showSlide(wrapperId, index) {
	        const carouselWrapper = document.getElementById(wrapperId);
	        const totalSlides = carouselWrapper.children.length;

	        carouselWrapper.style.transition = 'none';
	        carouselWrapper.appendChild(carouselWrapper.children[0]);
	        carouselWrapper.style.transform = 'translateX(0)';
	        currentSlide = totalSlides - 1;
	    }

	    function nextSlide(wrapperId) {
	        const carouselWrapper = document.getElementById(wrapperId);
	        const totalSlides = carouselWrapper.children.length;

	        carouselWrapper.style.transition = 'none';
	        carouselWrapper.appendChild(carouselWrapper.children[0]);
	        carouselWrapper.style.transform = 'translateX(0)';
	        currentSlide = totalSlides - 1;
	    }

	    function prevSlide(wrapperId) {
	        const carouselWrapper = document.getElementById(wrapperId);
	        const totalSlides = carouselWrapper.children.length;

	        carouselWrapper.insertBefore(carouselWrapper.children[totalSlides - 1], carouselWrapper.children[0]);

	        currentSlide = (currentSlide - 1 + totalSlides) % totalSlides;

	        carouselWrapper.style.transition = 'none';
	        carouselWrapper.style.transform = `translateX(0)`;
	    }

	    function startAutoSlide(wrapperId) {
	        autoSlideInterval = setInterval(() => nextSlide(wrapperId), 2000);
	    }

	    function stopAutoSlide() {
	        clearInterval(autoSlideInterval);
	    }

	    document.addEventListener('DOMContentLoaded', () => {
	        showSlide('carouselWrapper1', 0);
	        showSlide('carouselWrapper2', 0);
	        startAutoSlide('carouselWrapper1');
	        startAutoSlide('carouselWrapper2');

	        document.querySelector('#carouselContainer1').addEventListener('mouseover', stopAutoSlide);
	        document.querySelector('#carouselContainer1').addEventListener('mouseout', () => startAutoSlide('carouselWrapper1'));

	        document.querySelector('#carouselContainer2').addEventListener('mouseover', stopAutoSlide);
	        document.querySelector('#carouselContainer2').addEventListener('mouseout', () => startAutoSlide('carouselWrapper2'));
	    });

	    
	    </script>
	    
	    
	    
	    
	    
	<div th:replace="~{fragments/backToTop :: backToTop}"></div>
    <div th:replace="~{fragments/footernav :: footernav}"></div>
 	
  

    <!-- Banner dei cookie -->
    <div id="cookie-banner" class="cookie-banner">
        <p>
            We use cookies to ensure you get the best experience on our website.
            <a th:href="@{/}">Learn more</a>
        </p>
        <button id="accept-cookies">Accept</button>
    </div>
    <script type="text/javascript">
        document.getElementById('accept-cookies').addEventListener('click', function () {
            document.getElementById('cookie-banner').style.display = 'none';
        });
    </script>
</body>

</html>
