<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dettagli Mazzo</title>
</head>
<body>
    <h1 th:text="'Dettagli del mazzo: ' + ${mazzo.nome_mazzo}"></h1>
    <p>Descrizione: <span th:text="${mazzo.descrizione_mazzo}"></span></p>
    <p>Archiviato: <span th:text="${mazzo.archiviato_mazzo} ? 'Sì' : 'No'"></span></p>
    <div>
        <h3>Foto</h3>
        <ul>
            <li th:each="foto : ${mazzo.foto_mazzo}">
                <img th:src="@{/images/foto_mazzi/{foto}(foto=${foto})}" alt="Foto Mazzo"/>
            </li>
        </ul>
    </div>
</body>
</html>
