<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tutte Le Piante</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
	<div th:replace="~{fragments/headernav :: headernav}"></div>
    <div class= "contenitore-hero" style="min-height:40vh; ">
    <h1>Elenco di Tutte Le Piante</h1>
	


	</div>
	<div class="contenitore-di-categorie"  ><!-- Definisco larghezza -->
	    <div style="width: 80%;"><!-- Definisco box interno con 80% larghezza -->
	        
	            <h3 th:id="${categoria}" th:text="${categoria}"></h3>
	            <div class="categoria-box" >
		            <div class="fiore-card"  th:each="fiore : ${tutte_piante}" ><!-- Prendo elementi fiore e confronto per fare una scrematura -->
		                <!-- Contenuto per ogni fiore -->
						<a th:href="@{/fiore/{fioreId}(fioreId=${fiore.id})}" >
							<div>
			  				 	<img th:if="${fiore.foto_fiore != null and !fiore.foto_fiore.isEmpty()}"
	     							th:src="@{'/images/foto_fiori/' + ${fiore.foto_fiore[0]}}"
	     							alt="Immagine di fiore">
			  				 	<h2 th:text="${fiore.nome_fiore}"></h2>

							</div>
							</a>
		            </div>
	            </div>
	                  
	    </div>
	</div>

	
	<div th:replace="~{fragments/backToTop :: backToTop}"></div>
    <div th:replace="~{fragments/footernav :: footernav}"></div>
</body>
</html>
