<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dettagli Recensione</title>
</head>
<body>

    <p>Descrizione: <span th:text="${recensione.descrizione_recensione}"></span></p>
    <p>Archiviato: <span th:text="${recensione.approvazione} ? 'Sì' : 'No'"></span></p>
    <div>
        <h3>Foto</h3>
        <ul>
            <li th:each="foto : ${recensione.foto_recensione}">
                <img th:src="@{/images/foto_recensioni/{foto}(foto=${foto})}" alt="Foto Recensione"/>
            </li>
        </ul>
    </div>
    <div th:replace="fragments/backToTop :: backToTop"></div>
</body>
</html>
