<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>

    </style>
</head>
<body>
    <div th:fragment="backToTop" id="backToTop" class="backToTop">
        <button onclick="topFunction()" id="backToTop" title="Torna su">&#129137;</button>

        <script>
            window.onscroll = function() {
                scrollFunction();
            };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("backToTop").style.display = "block";
                } else {
                    document.getElementById("backToTop").style.display = "none";
                }
            }

            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
    </div>
</body>
</html>
