<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header site</title>
	<link rel="stylesheet" href="/css/styles.css" />

</head>
<body>
	<header th:fragment="headernav" id="headernav" class="headernav">
	  <div class="box">
	    <div class="logo">
	      <a th:href="@{/}">
				  <img th:src="@{/images/logo.png}" alt="Logo">
				</a>
	    </div>
	    <div class="interaction">
			<ul class="nav-links" id="nav-links">
			    <li><a th:href="@{/fiori}">Fiori</a></li>
			    <li><a th:href="@{/piante}">Piante</a></li>
			    <li><a th:href="@{/mazzi}">Bouquet</a></li>
			    <li><a th:href="@{/servizi}">Servizi</a></li>
			    <li><a th:href="@{/accessori}">Accessori</a></li>
			    
			    <li><a th:href="@{/}">Chi Siamo</a></li>
			    <li><a th:href="@{/gatti}">Colonia Felina</a></li>
			<li th:if="${#authentication.principal instanceof T(org.springframework.security.oauth2.core.oidc.user.OidcUser) || #authentication.principal instanceof T(org.springframework.security.core.userdetails.UserDetails)}"><a th:href="@{/user}">Profilo</a></li>
			</ul>

	    </div>
	    <div class="userAccess">
			<div class="logo-login">
			  <a th:unless="${#authentication.principal instanceof T(org.springframework.security.oauth2.core.oidc.user.OidcUser) || #authentication.principal instanceof T(org.springframework.security.core.userdetails.UserDetails)}" th:href="@{/login}">
					  <img th:src="@{/images/user.png}" alt="Logo">
					</a>
			</div>
		  <a th:if="${#authentication.principal instanceof T(org.springframework.security.oauth2.core.oidc.user.OidcUser) || #authentication.principal instanceof T(org.springframework.security.core.userdetails.UserDetails)}"  href="/logout">  <button>logout</button></a>
	  </div>
	  </div>  
	</header>
	



</body>