<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Amministrazione - Tutti gli Eventi</title>
             <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
	<div th:replace="~{fragments/headernav :: headernav}"></div>
    <div class= "contenitore-hero">
	    <h1>Gestione di tutti gli eventi</h1>
	    <ul>
	        <li th:each="evento : ${tutti_eventi}">
	            <a th:href="@{/admin/PaginaModificaEvento/{id}(id=${evento.id})}" th:text="${evento.nome_evento}"></a>
				<form th:action="@{/admin/rimuoviEvento/{id}(id=${evento.id})}" method="post">
				    <input type="hidden" name="_method" value="delete" />
				    <button type="submit">ELIMINA</button>
				</form>
	        </li>
	    </ul>
	    <a href="/admin/pagina_aggiungiEvento">Aggiungi Nuovo Evento</a>
	</div> 
	<div th:replace="~{fragments/backToTop :: backToTop}"></div>
    <div th:replace="~{fragments/footernav :: footernav}"></div></body>
</html>
