<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Aggiungi Fiore</title>
</head>
<body>
    <h1>Aggiungi Nuovo Fiore</h1>
    <form th:action="@{/admin/aggiungiFiore}" th:object="${fiore}" method="post" enctype="multipart/form-data">
        <div>
            <label>Nome:</label>
            <input type="text" th:field="*{nome_fiore}" />
        </div>
        <div>
            <label>Descrizione:</label>
            <textarea th:field="*{descrizione_fiore}"></textarea>
        </div>
                <div>
            <label>categoria:</label>
            <textarea th:field="*{categoria_fiore}"></textarea>
        </div>
        <div>
            <label>Archiviato:</label>
            <input type="checkbox" th:field="*{archiviato_fiore}" />
        </div>
		<label for="image">Choose image to upload</label>
		 <input type="file" name="image" accept="image/*" required>
        <button type="submit">Aggiungi</button>
    </form>
</body>
</html>
